<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/FinalProject/styles/login.css">
   
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/finalproject//main.html" class="active">Home</a></li>
                <li><a href="aboutus.html">About Us</a></li>


                <li><a href="Signup.html">Sign Up</a></li>
            </ul>
        </nav>
    </header>

    <div class="login-container">
        <div class="login-form">
            <h2>Login</h2>
            <form>
                <div class="form-input">
                    <input type="text" placeholder="Username" required>
                </div>
                <div class="form-input">
                    <input type="password" placeholder="Password" required>
                </div>
                <div class="form-input">
                    <label>
                        <input type="checkbox"> Remember Me
                    </label>
                </div>
                <div class="form-input">
                    <button type="submit" class="login-button">Log In</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>



